@page "/employeelist"
@attribute [Authorize]
@layout MainLayout
@inject IDbContextFactory<EMSContext> DbFactory
@* @inject EMSContext db *@
@inject ToastService ToastService
@rendermode InteractiveServer

<PageTitle>Employee List</PageTitle>
<div class="row">
    <div class="col-md-6">
        <h3 class="float-left">Employee List</h3>
    </div>
    <div class="col-md-6" style="text-align:right">
        <a href="/employeecreate" class="btn btn-success mb-3">
            <i class="fa-solid fa-plus"></i> Add Employee
        </a>
    </div>
</div>


@if (employeelist == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-bordered border-3 border-black">
        <thead>
            <tr>
                <th>EmpId</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Department</th>
                <th>Is Active</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employeelist)
            {
                <tr>
                    <td>@employee.Emp_id</td>
                    <td>@employee.Emp_firstname</td>
                    <td>@employee.Emp_surname</td>
                    <td>@employee.Username</td>
                    <td>@employee.Email_address</td>
                    <td>@employee.Department_type</td>
                    <td>
                        <input type="checkbox" @bind="employee.IsActive" disabled />
                    </td>
                    <td>
                        <a class="btn btn-sm btn-primary"><i class="fa-solid fa-pen"></i></a>
                        <a class="btn btn-sm btn-danger" @onclick="() => DeleteEmployee(employee.Emp_id)"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Mst_employees[]? employeelist;

    private async Task LoadEmployees()
    {
        using var db = DbFactory.CreateDbContext();
        employeelist = await db.Mst_Employees
                               .Where(e => e.DeletedBy == null)
                               .ToArrayAsync();
    }


    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(500);
        await LoadEmployees();
    }

    async Task DeleteEmployee(int Id)
    {
        using var db = DbFactory.CreateDbContext();
        var emp = await db.Mst_Employees.Where(e => e.Emp_id == Id).FirstOrDefaultAsync();

        if(emp == null)
            ToastService.ShowToast("No Data Found.", "error", "Error");

        emp.DeletedBy = 1;
        emp.DeletedOn = DateTime.Now;
        await db.SaveChangesAsync();
        ToastService.ShowToast("Employee Deleted Successfully.", "success", "Success");

        await LoadEmployees();
        StateHasChanged();

    }
}
